<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of thrones | Home</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="main">
        <div class="content">
            <h1>Are you a Game Of Thrones lover?</h1>
            <h2>We have all the data from the universe of Ice And Fire you've ever wanted!</h2>
            <h3>Do you have anything in mind to inquire about? <br /> Below are the main categories to start with.</h3>
            <button id="openBooks" class="selector">Books</button>
            <button id="openCharacters" class="selector">Characters</button>
            <button id="openHouses" class="selector">Houses</button>
        </div>
    </div>
    <!-- The Modal -->
  <div id="booksModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="closeBooks" class="close">&times;</span>
          <h4>Books</h4>
        </div>
        <div class="modal-body">
          <h5>Select the book you want to get the details about</h5>
          <form action="/book" method="post">
            <select name="id">
              <option class="options" value="0">SELECT</option>
              <% for(let i = 1; i < (12 + 1); i++){ %>
              <option class="options" value="<%= i %>"><%= i %></option>
              <% } %>  
            </select>
            <input type="submit" name="book" value="Go!">
          </form>
        </div>
      </div>
  </div>

  <div id="charactersModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="closeCharacters" class="close">&times;</span>
          <h4>Characters</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the Modal Body</p>
          <p>Some other text...</p>
        </div>
      </div>
  </div>

  <div id="housesModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span id="closeHouses" class="close">&times;</span>
          <h4>Houses</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the Modal Body</p>
          <p>Some other text...</p>
        </div>
      </div>
  </div>

<script type="text/javascript" src="/js/main.js"></script>

</body>
</html>