body {
    background: url('/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "Game of thrones";
  src: url('/fonts/got.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Vogue";
    src: url('/fonts/vogue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.main {
    display: grid;
    min-height: 92vh;
    max-height: auto;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    place-content: center;
    align-content: center;
    justify-items: center;
    place-items: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 30px;
    width: 40%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.36);
}

.content h1 {
    grid-area: 1 / 1 / 1 / 4;
    text-align: center;
    font-size: 2.5rem;
    color: #696664;
    font-family: 'Game of thrones';
    word-spacing: 7px;
}

.content h2 {
    grid-area: 2 / 1 / 2 / 4;
    text-align: center;
    font-size: 28px;
    color: #696664;
    font-family: 'Vogue';
}

.content h3 {
    grid-area: 3 / 1 / 3 / 4;
    text-align: center;
    font-size: 22px;
    color: #696664;
    font-family: 'Vogue';
    line-height: 25px;
}

.content h4 {
    grid-area: 1 / 1 / 1 / 4;
    text-align: center;
    font-size: 28px;
    color: #696664;
    font-family: 'Vogue';
}

.content h5 {
    grid-area: 3 / 1 / 3 / 4;
    text-align: center;
    font-size: 22px;
    padding: 20px 10px;
    color: #696664;
    font-family: 'Vogue';
    border-top: 1px solid #5e5b5a;
    line-height: 25px;
}


.selector {
    background-color: transparent;
    margin-top: 30px;
    width: 80%;
    height: auto;
    text-align: center;
    padding: 50px 20px;
    place-self: center;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #696664;
    border: 2px solid #696664;
    font-family: 'Vogue';
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(185,84,12,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(185,84,12,1);
    box-shadow: 0px 0px 5px -2px rgba(185,84,12,1);
}

.selector:hover,
.selector:focus,
.selector:active, 
.selector.active {
    color: #b9540c;
    border: 2px solid rgb(185, 84, 12);
    -webkit-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    transition: 0.3s ease-in;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    font-family: 'Vogue';
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.9);
    width: 40%;
    max-height: 60%;
    min-height: 40%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 40px 40px 0 0;
    border: none;
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    margin: 15px 15px 0 0;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(116, 112, 109);
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border: none;
    padding: 2px 16px;
    background-color: rgb(185, 84, 12);
    border-radius: 40px 40px 0 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.modal-header h4 {
    font-size: 1.5rem;
    color: #000;
}

.modal h6 {
    text-align: center;
    font-size: 15px;
    color: #696664;
    font-family: 'Vogue';
    line-height: 25px;
}

.modal-body {
    padding: 5px 16px 20px 16px;
    place-content: center;
    justify-content: center;
    align-content: center;
    place-items: center;
    justify-items: center;
    align-items: center;
}

.modal-body h5 {
    text-align: center;
    font-size: 22px;
    color: #696664;
}

select {
    padding: 10px 20px;
    width: 65%;
    background-color: transparent;
    border: 2px solid #696664;
    outline: none;
    color: #696664;
    font-size: 20px;
    font-family: 'Vogue';
    place-self: center;
    border-radius: 5px;
}

select .options {
    color: #696664;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
}

input[type=submit] {
    padding: 10px 20px;
    width: 32%;
    background-color: transparent;
    border: 2px solid #696664;
    outline: none;
    color: #696664;
    font-size: 20px;
    font-family: 'Vogue';
    place-self: center;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
    box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
}

input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
    color: rgba(185,84,12,1);
    border: 2px solid rgba(185,84,12,1);
    -webkit-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    transition: 0.3s ease-in;
}

input[type=search] {
    padding: 10px 20px;
    width: 65%;
    background-color: transparent;
    border: 2px solid #696664;
    outline: none;
    color: #696664;
    font-size: 20px;
    font-family: 'Vogue';
    place-self: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
    box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
}

input[type=search]:hover,
input[type=search]:focus,
input[type=search]:active {
    color: #696664;
    border: 2px solid #696664;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    transition: 0.3s ease-in;
}

input[type=search]::placeholder {
    color: #696664;
}

.go-back {
    display: block;
    position: fixed;
    top: 60px;
    left: 40px;
    font-size: larger;
    font-family: 'Vogue';
    font-weight: bold;
    border-radius: 40px;
    border: none;
    background-color: #000;
    color: #696664;
    text-decoration: none;
    padding: 15px 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.go-back:hover { 
    background-color: #313030;
}

.go-back-responsive {
    display: none;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@media screen and (min-width: 993px) and (max-width: 1440px) {
    .selector {
        width: auto;
    }
}

@media screen and (max-width: 992px) {
    .main {
        display: flex;
        height: auto;
        padding: 6px;
        justify-content: center;
        place-content: center;
        align-content: center;
        justify-items: center;
        place-items: center;
        align-items: center;
    }
    
    .content {
        padding: 5px 20px;
        width: 100%;
        justify-content: center;
        place-content: center;
        align-content: center;
        justify-items: center;
        place-items: center;
        align-items: center;
    }
    
    .content h1 {
        width: 90%;
        text-align: center;
        word-wrap: break-word;
        font-size: 1.5rem;
    }
    
    .content h2 {
        text-align: center;
        word-wrap: break-word;
        width: 90%;
        font-size: 22px;
    }
    
    .content h3 {
        text-align: center;
        word-wrap: break-word;
        width: 90%;
        font-size: 18px;
    }
    
    .content h4 {
        text-align: center;
        word-wrap: break-word;
        width: 90%;
        font-size: 22px;
    }
    
    .content h5 {
        text-align: center;
        word-wrap: break-word;
        width: 90%;
        font-size: 18px;
    }
    .selector {
        margin-top: 15px;
        width: 90%;
        font-size: 14px;
        height: auto;
        text-align: center;
        padding: 20px 20px;
        border: none;
        font-family: 'Vogue';
        -webkit-box-shadow: 0px 0px 5px -2px rgba(185,84,12,0.0);
        -moz-box-shadow: 0px 0px 5px -2px rgba(185,84,12,0.0);
        box-shadow: 0px 0px 5px -2px rgba(185,84,12,0.0);
    }
    
    .selector:hover,
    .selector:focus,
    .selector:active, 
    .selector.active {
        transition: 0.3s ease-in;
        border: none;
        -webkit-box-shadow: 0px 0px 5px -2px rgba(103,51,30,0.0);
        -moz-box-shadow: 0px 0px 5px -2px rgba(103,51,30,0.0);
        box-shadow: 0px 0px 5px -2px rgba(103,51,30,0.0);
    }

    .modal-content {
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 70%;
        min-height: 50%;
    }

    .go-back {
        display: none;
    }
    .go-back-responsive {
        display: block;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        left: 45%;
        font-family: 'Vogue';
        font-weight: bold;
        background-color: #b9540c;
        color: #000;
        text-decoration: none;
        padding: 7px 12px;
        cursor: pointer;
        text-align: center;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    
    .go-back-responsive:hover { 
        background-color: #645e5a;
    }
}

