body {
    background: rgb(51,28,14);
    background: linear-gradient(90deg, rgba(51,28,14,1) 0%, rgb(103, 51, 30) 53%, rgb(185, 84, 12) 100%);
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: "Game of thrones";
  src: url('/fonts/got.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Vogue";
    src: url('/fonts/vogue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.main {
    display: grid;
    min-height: 92vh;
    max-height: auto;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    place-content: center;
    align-content: center;
    justify-items: center;
    place-items: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 30px;
    width: 40%;
    height: fit-content;
    background-color: #FFF190;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.36);
    box-shadow: 0px 0px 24px 6px rgba(0,0,0,0.36);
}

.content h1 {
    grid-area: 1 / 1 / 1 / 4;
    text-align: center;
    font-size: 2.5rem;
    color: #67331e;
    font-family: 'Game of thrones';
    word-spacing: 7px;
}

.content h2 {
    grid-area: 2 / 1 / 2 / 4;
    text-align: center;
    font-size: 28px;
    color: #67331e;
    font-family: 'Vogue';
}

.content h3 {
    grid-area: 3 / 1 / 3 / 4;
    text-align: center;
    font-size: 22px;
    color: #67331e;
    font-family: 'Vogue';
    line-height: 25px;
}

.content h4 {
    grid-area: 1 / 1 / 1 / 4;
    text-align: center;
    font-size: 28px;
    color: #67331e;
    font-family: 'Vogue';
}

.content h5 {
    grid-area: 3 / 1 / 3 / 4;
    text-align: center;
    font-size: 22px;
    padding: 20px 10px;
    color: #67331e;
    font-family: 'Vogue';
    border-top: 1px solid #d3bc24;
    line-height: 25px;
}


.selector {
    background-color: transparent;
    width: 80%;
    height: auto;
    text-align: center;
    padding: 50px 20px;
    place-self: center;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #97460c;
    border: 2px solid #FFF190;
    font-family: 'Vogue';
    border-radius: 40px;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(185,84,12,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(185,84,12,1);
    box-shadow: 0px 0px 5px -2px rgba(185,84,12,1);
}

.selector:hover,
.selector:focus,
.selector:active, 
.selector.active {
    color: #67331e;
    border: 2px solid rgba(185,84,12,1);
    -webkit-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    transition: 0.3s ease-in;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    font-family: 'Vogue';
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    left: 30%;
    background-color: #FFF190;
    width: 40%;
    height: 40%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 40px 40px 0 0;
    border: none;
}

/* The Close Button */
.close {
    color: #FFF190;
    float: right;
    margin: 15px 15px 0 0;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    border: none;
    padding: 2px 16px;
    background: rgb(51,28,14);
    background: linear-gradient(90deg, rgba(51,28,14,1) 0%, rgb(103, 51, 30) 53%, rgb(185, 84, 12) 100%);
    color: white;
    border-radius: 40px 40px 0 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.modal-header h4 {
    font-size: 1.5rem;
    color: #FFF190;
}

.modal-body {
    padding: 2px 16px;
    place-content: center;
    justify-content: center;
    align-content: center;
    place-items: center;
    justify-items: center;
    align-items: center;
}

.modal-body h5 {
    text-align: center;
    font-size: 22px;
    color: #67331e;
}

select {
    padding: 10px 20px;
    width: 65%;
    background-color: transparent;
    border: 2px solid #97460c;
    outline: none;
    color: #67331e;
    font-size: 20px;
    font-family: 'Vogue';
    place-self: center;
    border-radius: 5px;
}

select .options {
    color: #FFF190;
    background-color: #97460c;
    padding: 5px;
    border-radius: 5px;
}

input[type=submit] {
    padding: 10px 20px;
    width: 32%;
    background-color: transparent;
    border: 2px solid #97460c;
    outline: none;
    color: #b9540c;
    font-size: 20px;
    font-family: 'Vogue';
    place-self: center;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
    box-shadow: 0px 0px 5px -2px rgba(185, 84, 12, 1);
}

input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
    color: #67331e;
    border: 2px solid rgba(185,84,12,1);
    -webkit-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    -moz-box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    box-shadow: 0px 0px 5px -2px rgba(103,51,30,1);
    transition: 0.3s ease-in;
}

.go-back {
    position: fixed;
    top: 40px;
    left: 40px;
    font-family: 'Vogue';
    border-radius: 40px;
    border: none;
    background-color: #FFF190;
    color: #97460c;
    text-decoration: none;
    padding: 10px 30px;
    cursor: pointer;
}

.go-back:hover { 
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

